form {
    width: 80%;
    height: auto;
    background-color: #F5F4EF;
    margin: auto;
    border: 5px solid #dbd8c9;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 100px;
    margin: 10px;
}

header .logo img:nth-child(2) {
    width: 150px;
    margin: 10px;
}

header .bar-logo {
    text-align: center;
    height: 250px;
}

header .bar-logo img {
    width: 95%;
    border: 10px #3c334e solid;
    border-radius: 20px;
}

.container-form {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* Start Label */
.personal_info {
    width: 90%;
    margin: auto;
    /* background-color: rgb(190, 190, 190); */
    font-weight: bold;
    font-size: 24px;
}

.personal_info input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px#666666;
    margin-top: 10px;
    margin-bottom: 25px;
}

.personal_contanct {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.personal_contanct div {
    width: calc(50% - 35px);
}

.personal_info select {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px#666666;
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.39);
    font-weight: bold;
}

.personal_info select option {
    color: black;
}

.buttons .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttons img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.buttons p {
    font-size: 22px;
    font-weight: bold;
    color: #7C122F;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.competitions img {
    filter: drop-shadow(0 2px 2px black);
}

.workshops img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.555));
}


.Participate-Container .container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


[for="reason"] {
    font-size: 32px;
    font-weight: 500;
}

[for="Comments"] {
    font-size: 32px;
    font-weight: 500;
}


[type="submit"] {
    width: 220px;
    height: 60px;
    margin: 70px;
    background-color: #7C122F;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
}