* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #7C122F;
    font-family: "Roboto", sans-serif;
    height: 220vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 80px;
    margin-right: 300px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}


button:hover p {
    color: #5098e6;
}

button:hover img {
    transform: scale(1.1);
    transition: 0.3s ease;
}

label {
    display: flex;
}

span {
    color: #7C122F;
}

textarea {
    background-color: transparent;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px#666666;
    margin-top: 10px;
    margin-bottom: 25px;
    resize: none;
    border-radius: 10px;
    font-size: 18px;
    border-color: #666666;
}